.app.dark {
  --bg-color: #000C66;
  --inverted-bg-color: #050A30;

  --primary-color: #0000FF;
  --secondary-color: #7EC8E3;
  --inverted-primary-color: #710117;
  --inverted-secondary-color: #ECD5BB;
}
