.app.dark {
  --bg-color: #222831;
  --inverted-bg-color: #393E46;

  --primary-color: #EEEEEE;
  --secondary-color: #FD7013;
  --inverted-primary-color: #195962;
  --inverted-secondary-color: #01B6AD;
}
