.app.light {
  --bg-color: #FFFFFF;
  --inverted-bg-color: #54627B;

  --primary-color: #710117;
  --secondary-color: #ECD5BB;
  --inverted-primary-color: #0000FF;
  --inverted-secondary-color: #7EC8E3;
}
