.app.light {
    --bg-color: #FFF;
    --inverted-bg-color: #F6E7D2;
    --primary-color: #0A4958;
    --secondary-color: #01B6AD;
    --inverted-primary-color: #EEE;
    --inverted-secondary-color: #FD7013;
}
