.app.light {
  --bg-color: #FFFFFF;
  --inverted-bg-color: #F6E7D2;

  --primary-color: #0A4958;
  --secondary-color: #01B6AD;
  --inverted-primary-color: #EEEEEE;
  --inverted-secondary-color: #FD7013;
}
